img(src='images/lolqq-small.png')

div.ui.small.red.inverted.borderless.menu
	a.item
		i.icon.home
	a.item ¿Quiénes somos nosotros?
	a.item Agenda
	a.item Documentos
	a.item Contacto
	a.item(href='http://slashdot.org') Noticias
	a.item Paraiso gay de Javier
	a.item

ul
	li todos somos
	li maricas
	li y javier
	li es nuestro jefe